body{

margin:0;
font-family:Arial, Helvetica, sans-serif;
background:#ffffff;

}



/* HEADER */

.topbar{

display:flex;
justify-content:space-between;
align-items:center;

max-width:900px;
margin:auto;

padding:15px 0;

}



/* LOGO */

.logo img{

height:50px;

}



/* BANDIERE */

.lang{

display:flex;
gap:12px;

}


.lang img{

width:32px;
cursor:pointer;
transition:0.2s;

}


.lang img:hover{

transform:scale(1.1);

}



/* LANDING */

.landing{

max-width:900px;
margin:20px auto;

}


.landing img{

width:100%;
display:block;

}



/* MOBILE */

@media (max-width:768px){

.topbar{

padding:10px 20px;

}

.landing{

max-width:100%;
margin:10px auto;

}

.logo img{

height:55px;

}

}
